<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1> Todo List </h1>
    <ul>
    {% for todo in todos %}
        <li>
            {{todo.title}} : {% if todo.completed %}Completed{% else %}Not Completed{% endif %}
        </li>
    {% endfor %}
    </ul>
   
    <!--
    <h1>Student Data</h1>
    <ul>
        {% for student in students %}
        <li>
            {{student.name}} : {{student.grade}} : <a href = "{{student.essay.url}}" download> Download Student Essay </a>
        </li>
        {% endfor %}
    </ul>

    -->
   
    <h1> Student Data Form </h1>
    <form action = "" method = "POST">
        {% csrf_token %}

        <input type = "text" placeholder = "Name" name = "name">
        <input type = "number" placeholder = "Grade" name = "grade">
        <input type = "file" placeholder = "Essay" name = "essay">
        <button type = "submit">Add</button>
    </form>
    {% for student in students %}
    <li>
        {{student.essay.url}}
        {{ student.name }} : {{ student.grade }} : <a href="/media/uploads/{{student.essay}}" download>Download Student Essay</a>
    </li>
    {% endfor %}
</body>
</html>